
<div class="panel-body">
<%= simple_form_for @recipe , html:{multipart: true} do |f| %>
      <% if @recipe.errors.any? %>
          <div id="errors">
            <h2><%= pluralize(@recipe.errors.count, "error") %></h2>
            <ul>
              <% @recipe.errors.full_messages.each do |msg| %>
                  <li> <%= msg  %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    <p>
      <%= f.input :title ,class:'form-control' %>
    </p>
    <p>
      <%= f.input :description ,class: 'form-control'%>
    </p>
      <p>
        <%= f.input :image ,class: 'form-control'%>
      </p>
    <p>
      <%= f.button :submit ,class: 'btn btn-default' %>
    </p>

<% end %>
</div>